<div class="u_card u_card-raised">
    <header class="u_card-header">
        <div class="u_card-avatar">
            <img src="./../../assets/images/img1.jpeg" alt="" class="u_card-image">
        </div>
        <div class="u-header-wrap">
            <h2 class="u_card-title">Header</h2>
            <p class="u_card-sub-heading">
                I am subheading
            </p>
        </div>
    </header>
    <div class="u_card-img-wrap">
        <a href="#" class="u_card-anchor"></a>
        <img src="./../../assets/images/img1.jpeg" alt="" class="u_card-image">
    </div>
    <div class="u_card-content">
        <p>This is main content.</p>
    </div>
    <footer class="u_card-footer u-align-center">
        <a routerLink="/admin" class="u_btn u_btn-primary">Admin</a>
    </footer>
</div>