<div class="outerWrapper">
    <div class="contentWrapper flex">
        <div class="sidebarWrapper" [ngClass]="sidebarIsActive ? 'active' : null">
            <app-sidebar></app-sidebar>
        </div>
        <main>
            <div class="overlay"></div>
            <app-header (toggleSidebar)="toggleSidebar($event)" [sidebarIsActive]="sidebarIsActive"></app-header>
            <div class="pageScroller">
                <router-outlet></router-outlet>
            </div>
        </main>
    </div>
</div>