.outerWrapper {
    &:before {
        content: '';
        display: block;
        background: #e88a3a;
        height: 3px;
        flex: 1 auto;
        flex-basis: 100%;
    }
    .contentWrapper {
        height: calc(100vh - 3px);
        overflow: hidden;
        background: url(./../../assets/images/frontend/page_bg.png);
    }
}

.sidebarWrapper {
    flex-basis: 300px;
    background: #f4f7f6;
    margin-left: -300px;
    transition: margin-left ease-out .3s;
    position: relative;
    z-index: 1;
    //box-shadow: 3px 0 3px rgba(0, 0, 0, .1);
    height: calc(100vh - 3px);
    overflow: hidden;
    &.active {
        margin-left: 0;
    }
}

main {
    position: relative;
    flex: 1 auto;
    flex-basis: 100%;
}