@import './../../../../assets/scss/frontend/variables';
.card {
    position: relative;
    overflow: hidden;
    cursor: pointer;
    border-radius: unset;
    border: 0;
    background: #fff;
    color: #3c4043;
    .cardBg {
        background-size: cover;
        height: 150px;
        transform: scale(1);
        transform-origin: 50% 100%;
    }
    .cardContent {
        position: relative;
        z-index: 1;
        padding: 1rem;
        transition: all ease-out .5s;
        a {
            margin: auto 0 auto auto;
            display: block;
            text-align: right;
            color: #1a73e8;
        }
    }
    header {
        margin-bottom: 1rem;
        justify-content: space-between;
        font-size: .7rem;
        align-items: center;
    }
    h2 {
        font-size: 1.0625rem;
        line-height: 1.2;
        font-weight: 400;
        margin-bottom: 1rem;
        color: inherit;
    }
    h3 {
        font-size: 0.8rem;
        color: #8e8e8e;
        margin-bottom: 10px;
    }
    p {
        margin-bottom: 1rem;
    }
    .readMore {
        font-size: .7rem;
        color: inherit;
        text-decoration: none;
    }
    .activityCol {
        flex-basis: 70px;
        ul {
            justify-content: space-between;
        }
        li {
            width: 30px;
            height: 30px;
            line-height: 30px;
            text-align: center;
            margin-right: 10px;
            font-size: 1.3rem;
            &:last-child {
                margin-right: 0;
            }
            .material-icons {
                cursor: pointer;
                width: inherit;
                height: inherit;
                background: transparent;
                border-radius: 100%;
                line-height: inherit;
                font-size: inherit;
                transition: background linear .2s;
                color: inherit;
                &::after {
                    content: '';
                    display: block;
                    position: absolute;
                    top: 0;
                    left: 0;
                    border-radius: inherit;
                }
                &:hover {
                    background: $headerBg;
                    color: #fff;
                }
            }
        }
    }
    &:hover {
        .cardContent {
            h2 {
                color: #3c4043;
            }
        }
    }
}

.shareIcon {
    transform: rotateY(180deg);
}