<div class="card">
    <div class="cardBg" style="background: #3e32a5 url('./../../../assets/images/card-bg.jpg'); background-repeat: no-repeat;
    background-size: cover; background-position: center;"></div>
    <div class="cardContent flex flex-column">
        <header class="flex">
            <span class="date">12 Aug 2019</span>
            <div class="activityCol">
                <ul class="flex">
                    <li>
                        <i class="material-icons">turned_in_not</i>
                    </li>
                    <li>
                        <i class="material-icons">favorite_border</i>
                    </li>
                    <li>
                        <i class="material-icons">reply</i>
                    </li>
                </ul>
            </div>
        </header>
        <div class="content">
            <h3>John Doe</h3>
            <h2>Stranger Things: The sound of the Upside Down</h2>
            <p>The antsy bingers of Netflix will eagerly anticipate the digital release of the Survive soundtrack, out today.
            </p>
            <a routerLink="#" class="readMore">Read More</a>
        </div>
    </div>
</div>