.project
.settings/
.idea/
website-in-angular/.classpath
website-in-angular/.project
website-in-angular/.settings/
website-in-angular/dist/
website-in-angular/node_modules/
website-in-angular/target/
website-in-angular/coverage/
website-in-angular/build-scripts/LOG_HOME_IS_UNDEFINED
website-in-angular/package-lock.json
