<form>
    <h2>
        <mat-icon>add</mat-icon>Add post
    </h2>
    <div class="form-field-wrapper">
        <mat-form-field>
            <input matInput placeholder="Title">
            <mat-error>Please enter a valid email address</mat-error>
        </mat-form-field>
        <mat-form-field hintLabel="Accordion, Navigation etc.">
            <input matInput placeholder="Category">
            <mat-error>Please enter Category</mat-error>
        </mat-form-field>
        <mat-form-field hintLabel="HTML, CSS etc.">
            <input matInput placeholder="Sub Category">
            <mat-error>Please enter Sub Category</mat-error>
        </mat-form-field>
        <mat-form-field hintLabel="Max 200 characters">
            <input matInput placeholder="Describe your post.">
            <mat-hint align="end">0/200</mat-hint>
            <mat-error>Please enter Sub Category</mat-error>
        </mat-form-field>
        <fieldset>
            <legend>Meta Tags</legend>
            <div class="fieldset-column-wrapper">
                <mat-form-field>
                    <input matInput placeholder="Title">
                    <mat-error [hidden]="false">Please enter meta title</mat-error>
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="Description">
                    <mat-error>Please enter meta description</mat-error>
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="Keywords">
                    <mat-error>Please enter meta keywords</mat-error>
                </mat-form-field>
            </div>
        </fieldset>
        <mat-form-field>
            <input matInput placeholder="Creation date">
            <mat-error>Please enter date of creation</mat-error>
        </mat-form-field>
        <app-editor-js class="editor"></app-editor-js>
        <div class="button-wrapper">
            <button mat-raised-button color="primary">Add</button>
            <button mat-raised-button color="warn">Reset</button>
        </div>
    </div>
</form>