$font-size: 1.3rem;
.fa {
    margin-right: 5px;
}

.navbar {
    background: #000;
}

.navbar-nav {
    a {
        font-size: $font-size;
    }
}

.navbar-toggler {
    width: 35px;
    height: 35px;
    i {
        font-size: $font-size;
        color: #fff;
    }
}

:host ::ng-deep {
    .logoWrapper {
        width: 30px !important;
        height: 30px !important;
    }
    .logo {
        font-size: 1.3rem !important;
        .face {
            border-radius: 3px !important;
        }
    }
}