.spacer {
    flex: 1 1 auto;
}

:host ::ng-deep {
    .logoWrapper {
        width: 30px !important;
        height: 30px !important;
    }
    .logo {
        font-size: 1.3rem !important;
        .face {
            border-radius: 3px !important;
        }
    }
}