$font-size: 1rem;
.fa {
    margin-right: 5px;
}

.navbar {
    background: #000;
    .form-control {
        padding: .75rem 1rem;
        border-width: 0;
        border-radius: 0;
        height: auto;
        box-shadow: unset;
    }
}

.navbar-nav {
    a {
        font-size: $font-size;
    }
}

.navbar-toggler {
    width: 35px;
    height: 35px;
    i {
        font-size: $font-size;
        color: #fff;
    }
}

:host ::ng-deep {
    .logoWrapper {
        width: 30px !important;
        height: 30px !important;
    }
    .logo {
        font-size: 1.3rem !important;
        .face {
            border-radius: 3px !important;
        }
    }
}


/*
 * Navbar
 */

.navbar-brand {
    font-size: 1rem;
    background-color: rgba(0, 0, 0, .25);
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.form-control-dark {
    color: #fff;
    background-color: rgba(255, 255, 255, .1);
    border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
    border-color: transparent;
    box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
    color: #333;
    background-color: #fff;
    transition: background-color ease .3s;
}