h1 {
    color: rgb(9, 199, 9);
    font-size: 1.1rem;
    margin-bottom: 5px;
}

p,
li {
    font-size: 0.8125rem
}

p {
    margin-bottom: .5rem;
}

.error {
    color: #ff2525;
    background: none;
    li {
        color: inherit;
    }
}

.mat-dialog-actions {
    padding: 16px 0;
}