<div class="spinner-container" *ngIf="dataSource.loading$ | async">
    <mat-spinner></mat-spinner>
</div>
<table mat-table [dataSource]="dataSource" matSort>
    <!-- <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>id</th>
        <td mat-cell *matCellDef="let element">{{ element.id }}</td>
    </ng-container>
    <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Title</th>
        <td mat-cell *matCellDef="let element">{{ element.title }}</td>
    </ng-container>
    <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>description</th>
        <td mat-cell *matCellDef="let element">{{ element.description }}</td>
    </ng-container>
    <ng-container matColumnDef="category">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>category</th>
        <td mat-cell *matCellDef="let element">{{ element.category }}</td>
    </ng-container>
    <ng-container matColumnDef="subCategory">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>subCategory</th>
        <td mat-cell *matCellDef="let element">{{ element.subCategory }}</td>
    </ng-container>
    <ng-container matColumnDef="bannerImage">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>bannerImage</th>
        <td mat-cell *matCellDef="let element">{{ element.bannerImage }}</td>
    </ng-container>
    <ng-container matColumnDef="edit">
        <th mat-header-cell *matHeaderCellDef>edit</th>
        <td mat-cell *matCellDef="let element">{{ element.edit }}</td>
    </ng-container>
    <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef>delete</th>
        <td mat-cell *matCellDef="let element">{{ element.delete }}</td>
    </ng-container> -->

    <ng-container *ngFor="let column of DATA_TABLE_HEADER">
        <ng-container matColumnDef="{{ column.name }}" *ngIf="column.name !== 'edit' && column.name !== 'delete'">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                {{ column.label }}
            </th>
            <td mat-cell *matCellDef="let element">{{ element[column.name] }}</td>
        </ng-container>
        <ng-container matColumnDef="{{ column.name }}" *ngIf="column.name === 'edit'">
            <th mat-header-cell *matHeaderCellDef>
                {{ column.label }}
            </th>
            <td mat-cell *matCellDef="let element">
                <button mat-icon-button color="primary" aria-label="Edit post icon" (click)="onRowClicked(element.id, 'edit')">
          <mat-icon>edit</mat-icon>
        </button>
            </td>
        </ng-container>
        <ng-container matColumnDef="{{ column.name }}" *ngIf="column.name === 'delete'">
            <th mat-header-cell *matHeaderCellDef>{{ column.label }}</th>
            <td mat-cell *matCellDef="let element">
                <button mat-icon-button color="warn" aria-label="Edit post icon" (click)="onRowClicked(element.id, 'delete')">
          <mat-icon>delete</mat-icon>
        </button>
            </td>
        </ng-container>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>

<mat-paginator [pageSize]="2" [pageSizeOptions]="[2, 4, 6, 10, 20]" showFirstLastButtons>
</mat-paginator>