<form novalidate [formGroup]="form" (ngSubmit)="submit()" #formGroupDirective>
    <h2>
        <mat-icon *ngIf="pageTitle === 'add'">add</mat-icon>
        <mat-icon *ngIf="pageTitle === 'edit'">edit</mat-icon>
        {{pageTitle}} post
    </h2>
    <div class="form-field-wrapper">
        <mat-form-field>
            <input matInput placeholder="Title" formControlName="title">
            <mat-error>Please enter a valid email address</mat-error>
        </mat-form-field>
        <mat-form-field hintLabel="Accordion, Navigation etc.">
            <input matInput placeholder="Category" formControlName="category">
            <mat-error>Please enter Category</mat-error>
        </mat-form-field>
        <mat-form-field hintLabel="HTML, CSS etc.">
            <input matInput placeholder="Sub Category" formControlName="subCategory">
            <mat-error>Please enter Sub Category</mat-error>
        </mat-form-field>
        <mat-form-field hintLabel="Max 200 characters">
            <input matInput placeholder="Describe your post." formControlName="description">
            <mat-hint align="end">0/200</mat-hint>
            <mat-error>Please enter Sub Category</mat-error>
        </mat-form-field>
        <fieldset>
            <legend>Meta Tags</legend>
            <div class="fieldset-column-wrapper" formGroupName="metaTags">
                <mat-form-field>
                    <input matInput placeholder="Title" formControlName="title">
                    <mat-error [hidden]="false">Please enter meta title</mat-error>
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="Description" formControlName="description">
                    <mat-error>Please enter meta description</mat-error>
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="Keywords" formControlName="keywords">
                    <mat-error>Please enter meta keywords</mat-error>
                </mat-form-field>
            </div>
        </fieldset>
        <mat-form-field>
            <input matInput placeholder="Creation date" formControlName="creationDate">
            <mat-error>Please enter date of creation</mat-error>
        </mat-form-field>
        <fieldset>
            <legend>Banner Image</legend>
            <div class="uploadImage flex">
                <mat-form-field>
                    <input matInput formControlName="bannerImage" placeholder="Upload banner image (1900x735) px">
                    <mat-error>Please upload image</mat-error>
                </mat-form-field>
                <button mat-raised-button matSuffix color="warn">Browse</button>
                <img class="preview" src="./../../../../../assets/images/default-banner-image.jpg">
            </div>
        </fieldset>
        <fieldset>
            <legend>Social media share Image</legend>
            <div class="uploadImage flex">
                <mat-form-field>
                    <input matInput formControlName="shareImage" placeholder="Upload social media image (1200x630) px">
                    <mat-error>Please upload image</mat-error>
                </mat-form-field>
                <button mat-raised-button matSuffix color="accent">Browse</button>
                <img class="preview" src="./../../../../../assets/images/default-social-share-image.jpg">
            </div>
        </fieldset>

        <app-editor-js class="editor" [getEventToEditor]="sendEventToEditor" (sendEditorData)="getEditorData($event)">
        </app-editor-js>
        <pre style="flex: 1">{{form.getRawValue() | json}}{{form.status}}</pre>
        <div class="button-wrapper">
            <button mat-raised-button color="primary" [disabled]="!form.valid">Add</button>
            <button mat-raised-button color="warn" (click)="resetForm(); $event.preventDefault()">Reset</button>
        </div>
    </div>
</form>