h1 {
    background: none;
}

.page-content {
    background: none;
}

.loginBg {
    background: url('./../../../../assets/images/login-bg.jpg');
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
}

.hangingLogo {
    position: fixed;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    &:before {
        display: block;
        position: absolute;
        content: '';
        left: 50%;
        width: 1px;
        height: calc(100vh - 90%);
        background: #5f5d5d;
        bottom: 100%;
    }
}

.loginPage {
    width: 100%;
    max-width: 32rem;
    line-height: 1;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.card-header {
    display: flex;
    justify-content: space-between;
    padding: 0;
    align-items: center;
    p {
        margin-bottom: 0;
        color: #fff;
        font-size: 1.3rem;
        line-height: 1;
        text-transform: capitalize;
        padding-left: 24px;
    }
    h1 {
        margin-bottom: 0;
        background-color: #dc3545;
        font-size: 3rem;
        flex-basis: 60px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 50px;
    }
}

.error {
    color: red;
}

.mat-card {
    color: #9621b3;
    position: relative;
    &:after {
        width: 95%;
        content: '';
        height: 10px;
        background: #9621b3;
        position: absolute;
        bottom: -7px;
        left: 50%;
        transform: translateX(-50%);
        border-bottom-left-radius: 2px;
        border-bottom-right-radius: 2px;
        z-index: -1;
    }
    &.error {
        &::after {
            background: red;
        }
    }
    .mat-card-content {
        font-size: .9rem;
    }
    .mat-card-footer,
    .mat-card-actions {
        margin: 0;
    }
    .mat-card-actions {
        display: flex;
        justify-content: space-between;
    }
}

:host ::ng-deep {
    .mat-form-field-flex {
        align-items: flex-end;
        .mat-icon {
            margin-right: 10px;
        }
        .mat-icon-button {
            font-size: 1.2rem !important;
            .mat-icon {
                margin-right: 0;
            }
        }
    }
}