h2 {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    font-size: 1.2rem;
}

.mat-card {
    background: none;
    box-shadow: unset;
}

table {
    width: 100%;
    background: none;
    box-shadow: unset;
    th {
        font-size: 1rem;
        color: #333;
    }
    th,
    td {
        &:last-child {
            text-align: right;
        }
    }
}

.mat-paginator {
    margin: 0 auto;
    background: none;
}

.mat-card-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .mat-form-field,
    fieldset,
    .editor {
        margin-bottom: 2rem;
        flex-basis: 48%;
        display: block;
    }
    .editor,
    .mat-card-actions {
        flex-basis: 100%;
    }
    .mat-card-actions {
        text-align: center;
    }
}

.column-wrapper {
    display: flex;
    justify-content: space-between;
    .mat-form-field {
        flex-basis: 30%;
    }
}