@import './../../../../../assets/scss/frontend/variables';
header {
    display: flex;
    box-shadow: 0 2px 4px 0 rgba(52, 52, 52, 0.1);
    background: $headerBg;
    .toggle {
        display: flex;
        width: 60px;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        position: relative;
        overflow: hidden;
        span {
            width: 40px;
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 1rem;
            border-radius: 100%;
            position: relative;
            z-index: 1;
            color: #fff;
        }
        &:before,
        &:after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            z-index: 0;
            transition: transform linear .3s;
        }
        &:after {
            transform: translateX(-100%);
        }
        &:hover {
            &::before {
                background: $headerBg;
            }
        }
        &.active {
            &::after {
                transform: translateX(0);
                background: rgba(0, 0, 0, .3);
            }
        }
    }
    .logo {
        font-size: 1.4rem;
        padding: 0.11rem 15px 0.11rem 10px;
        font-weight: 700;
        line-height: 2.96rem;
        color: #ffffff;
        font-family: Poppins, sans-serif;
        text-decoration: none;
        span {
            display: inline-block;
            width: 35px;
            height: 35px;
            background: rgba(0, 0, 0, .3);
            border-radius: 100%;
            color: #fff;
            font-size: .9rem;
            line-height: 35px;
            text-align: center;
            font-weight: 400;
            position: relative;
            vertical-align: middle;
            &:after {
                content: '';
                position: absolute;
                width: 8px;
                height: 8px;
                background: inherit;
                top: 0;
                right: -5px;
                border-radius: inherit;
            }
        }
    }
    nav {
        flex: 1 auto;
        justify-content: flex-end;
        ul {
            align-items: center;
        }
        li {
            white-space: nowrap;
            color: #fff;
            height: 100%;
            a {
                padding: 8px 16px;
                height: 100%;
                display: block;
                color: #fff;
                text-decoration: none;
                line-height: 2.2rem;
                text-transform: capitalize;
                transition: background .2s linear;
                &:hover {
                    background: rgba(0, 0, 0, .3);
                }
            }
        }
    }
}