<div class="website-status-wrapper">
    <mat-card>
        <mat-card-content>
            <div class="card-header">
                <div class="card-icon"><i class="fa fa-rupee"></i></div>
                <p>Total Revenue</p>
                <h3>49/50 <small>GB</small></h3>
            </div>
            <div class="card-footer">
                <div class="stats"><i class="fa fa-calendar"></i> Last 24 Hours </div>
            </div>
        </mat-card-content>
    </mat-card>
    <mat-card>
        <mat-card-content>
            <div class="card-header card-header-success card-header-icon">
                <div class="card-icon"><i class="fa fa-rupee"></i></div>
                <p class="card-category">Total Revenue</p>
                <h3 class="card-title">49/50 <small>GB</small></h3>
            </div>
            <div class="card-footer">
                <div class="stats"><i class="fa fa-calendar"></i> Last 24 Hours </div>
            </div>
        </mat-card-content>
    </mat-card>
    <mat-card>
        <mat-card-content>
            <div class="card-header card-header-danger card-header-icon">
                <div class="card-icon"><i class="fa fa-rupee"></i></div>
                <p class="card-category">Total Revenue</p>
                <h3 class="card-title">49/50 <small>GB</small></h3>
            </div>
            <div class="card-footer">
                <div class="stats"><i class="fa fa-calendar"></i> Last 24 Hours </div>
            </div>
        </mat-card-content>
    </mat-card>
</div>