<div class="container-fluid pt-5">
    <div class="row mb-4">
        <div class="col-md-4">
            <div class="card card-stats">
                <div class="card-header card-header-warning card-header-icon">
                    <div class="card-icon"><i class="fa fa-rupee"></i></div>
                    <p class="card-category">Total Revenue</p>
                    <h3 class="card-title">49/50 <small>GB</small></h3>
                </div>
                <div class="card-footer">
                    <div class="stats"><i class="fa fa-calendar"></i> Last 24 Hours </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card card-stats">
                <div class="card-header card-header-success card-header-icon">
                    <div class="card-icon"><i class="fa fa-rupee"></i></div>
                    <p class="card-category">Total Revenue</p>
                    <h3 class="card-title">49/50 <small>GB</small></h3>
                </div>
                <div class="card-footer">
                    <div class="stats"><i class="fa fa-calendar"></i> Last 24 Hours </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card card-stats">
                <div class="card-header card-header-danger card-header-icon">
                    <div class="card-icon"><i class="fa fa-rupee"></i></div>
                    <p class="card-category">Total Revenue</p>
                    <h3 class="card-title">49/50 <small>GB</small></h3>
                </div>
                <div class="card-footer">
                    <div class="stats"><i class="fa fa-calendar"></i> Last 24 Hours </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-md-4">Hello</div>
                <div class="col-md-4">Hi</div>
                <div class="col-md-4">Hello</div>
            </div>
        </div>
    </div>
</div>