@import './../../../../../assets/scss/frontend/variables';
.block-wrapper {
    height: calc(100vh - 54px);
    position: relative;
    background: $headerBg;
    &:after {
        content: '';
        position: absolute;
        z-index: 0;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.6);
    }
}

h2 {
    font-size: 2rem;
    margin: 0;
    padding: 0.8rem 1rem;
    //border-bottom: solid 1px #eaeaea;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 300;
    span {
        display: flex;
        align-items: center;
    }
    .mat-icon {
        width: 15px;
        height: 15px;
        font-size: 1.8rem;
        margin-right: 10px;
    }
}

.block {
    padding: 1rem 0;
    position: relative;
    z-index: 2;
    transition: all linear 0.2s;
    h2 {
        .mat-icon {
            background: none;
            &:after {
                display: none;
            }
        }
    }
    a {
        display: block;
        padding: 1rem;
        text-decoration: none;
        font-size: 1.6rem;
        //background: linear-gradient(-44deg, #e8e8e8 8px, transparent 0);
        transition: background linear 0.2s;
        color: rgba(255, 255, 255, 0.7);
        position: relative;
        overflow: hidden;
        font-weight: 300;
        i {
            margin-right: 20px;
            background: none;
            &::after {
                display: none;
            }
        }
        &:after {
            content: '';
            width: 14px;
            height: 14px;
            position: absolute;
            right: -8px;
            top: 50%;
            transform: translateY(-50%) rotate(-45deg);
            border-radius: 3px;
            background: #fff;
            display: none;
        }
        &:hover,
        &.active {
            background: rgba(0, 0, 0, 0.6);
            color: #fff;
            &:after {
                display: block;
            }
        }
    }
    &:before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: -1;
        background: rgba(0, 0, 0, 0);
        top: 0;
        left: 0;
        transition: all linear 0.2s;
    }
    &:hover {
        background: $headerBg;
        &:before {
            background: rgba(0, 0, 0, 0.8);
        }
    }
}

.closeSidebar {
    width: 100%;
    height: 51px;
    border-radius: 0;
    box-shadow: unset;
    font-size: 2rem;
    line-height: 1;
    font-weight: 300;
    text-align: left;
    display: flex;
    align-items: center;
    background: $headerBg;
    padding: 1rem;
    color: #fff;
    justify-content: space-between;
}

nav {
    height: inherit;
    overflow: auto;
    li {
        margin-bottom: 0;
        &:last-child {
            border-bottom: unset;
        }
    }
}